.Loan-form {
  padding: 5rem;
  margin-top: 10%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .book-item {
  margin-bottom: 20px;
} */

.loan-container {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 20%;
  max-width: 250px;
}

.loan-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.loan-details {
  margin-top: 10px;
}

.loan-detail {
  margin-bottom: 5px;
}
